<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteka</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/index.css" />

    <meta name="google" content="notranslate">
    <meta name="translate" content="no">
  </head>
<body>
  <header>
    <img src="assets/favicon.png" class="logo">
    <div class="wyszukiwarka-container">
      <input type="text" placeholder="Wyszukaj po ISBN, nazwie lub autorze..." class="wyszukiwarka-input">
      <button type="submit" class="wyszukiwarka-btn" onclick="document.location='./roadmap'">Wyszukaj</button>
    </div>
    <div class="przyciski">
      <button class="modern-login-btn">
        <svg class="user-icon" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="currentColor" stroke-width="2"/>
          <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="2"/>
        </svg><span>Zaloguj się</span>
      </button>
    </div>
  </header>

  <div id="noweksiazki" class="ksiazki-container">
    <h2>Nowe nabytki w bibliotece</h2>
    <div class="ksiazki-grid">
        <% ksiazki.forEach(function(ksiazka) { %>
            <div class="ksiazka-karta">
                <img class="ksiazka-obraz" src="<%= ksiazka.img %>" alt="<%= ksiazka.tytul %>">
                <h3 class="ksiazka-tytul"><%= ksiazka.tytul %></h3>
                <p class="ksiazka-autor">
                  <% if (Array.isArray(ksiazka.autor)) { %>
                      <%= ksiazka.autor.join(', ') %>
                  <% } else { %>
                      <%= ksiazka.autor %>
                  <% } %>
                </p>
            </div>
        <% }); %>
    </div>
</div>

  <div id="najchetniejwypozyczane" class="ksiazki-container">
    <h2>Najnowsze wypożyczenie</h2>
    <ul>
      <% najnowsze.forEach(function(ksiazka) { %>
          <li>
              <%= ksiazka.tytul %> - 
              <% if (Array.isArray(ksiazka.autor)) { %>
                  <%= ksiazka.autor.join(', ') %>
              <% } else { %>
                  <%= ksiazka.autor %>
              <% } %>
          </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>