<div class="ksiazka-szczegoly-container">
    <div class="ksiazka-header">
        
        <div class="ksiazka-info">
            <h1 class="ksiazka-tytul"><%= autor %></h1>
        </div>
    </div>
    <div class="admin-actions">
        <div class="dynamiczny-filtr">
        <div class="input-group">
            <input type="text" id="filtr-ksiazki" class="form-control" placeholder="Filtruj książki...">
            <button type="button" class="btn btn-outline-secondary" disabled style="visibility: hidden;">
            </button><span class="filtr-info input-group-text" id="filtr-info"></span>
        </div>
        </div>
    </div>
    <div class="ksiazki-lista">
    <% ksiazki.forEach(function(ksiazka) { %>
      <div class="ksiazka-lista-item" data-tytul="<%= ksiazka.tytul.toLowerCase() %>" data-autor="<%= Array.isArray(ksiazka.autor) ? ksiazka.autor.join(' ').toLowerCase() : ksiazka.autor.toLowerCase() %>" data-kategorie="<%= Array.isArray(ksiazka.kategorie) ? ksiazka.kategorie.join(' ').toLowerCase() : ksiazka.kategorie.toLowerCase() %>" data-isbn="<%= ksiazka.isbn.toLowerCase() %>">
        <div class="ksiazka-lista-lewa">
          <a href="/ksiazki/<%= ksiazka.isbn %>">
            <img class="ksiazka-lista-obraz" src="<%= ksiazka.img_link %>" alt="Okładka: <%= ksiazka.tytul %>" onerror="this.src='/assets/okladki/placeholder.webp'">
          </a>
        </div>
        
        <div class="ksiazka-lista-prawa">
          <h3 class="ksiazka-lista-tytul">
            <a href="/ksiazki/<%= ksiazka.isbn %>" class="tytul-link"><%= ksiazka.tytul %></a>
          </h3>
          
          <div class="ksiazka-lista-autor">
            <span class="label">
                <% if (Array.isArray(ksiazka.autor) && ksiazka.autor.length > 1) { %>
                    Autorzy:
                <% } else { %>
                    Autor:
                <% } %>
            </span>
            <span class="value">
                <% if (Array.isArray(ksiazka.autor)) { %>
                    <% ksiazka.autor.forEach(function(autor, index) { %>
                        <a href="/autorzy/<%= encodeURIComponent(autor) %>" class="autor-link">
                            <%= autor %>
                        </a>
                        <% if (index < ksiazka.autor.length - 1) { %>, <% } %>
                    <% }); %>
                <% } else { %>
                    <a href="/autorzy/<%= encodeURIComponent(autor) %>" class="autor-link">
                        <%= ksiazka.autor %>
                    </a>
                <% } %>
            </span>
          </div>
          
          <div class="ksiazka-lista-details">
            <div class="detail-group">
              <span class="label">Rok wydania:</span>
              <span class="value"><%= ksiazka.rok_wydania %></span>
            </div>
            
            <div class="detail-group">
              <span class="label">Ilość stron:</span>
              <span class="value"><%= ksiazka.ilosc_stron %> stron</span>
            </div>

            <div class="detail-group">
              <span class="label">Ilość egzemplarzy:</span>
              <span class="value <%= ksiazka.dostepne_egzemplarze > 0 ? 'ksiazki-dostepne' : 'ksiazki-niedostepne' %>"><%= ksiazka.dostepne_egzemplarze %>/<%= ksiazka.laczna_liczba_egzemplarzy %> dostępnych</span>
            </div>
            
            <div class="detail-group">
              <span class="label">ISBN:</span>
              <span class="value isbn"><%= ksiazka.isbn %></span>
            </div>
          </div>
        </div>
        
        <div class="ksiazka-lista-actions">
          <a href="/ksiazki/<%= ksiazka.isbn %>" class="btn btn-primary">Szczegóły</a>
          <a href="/koszyk/dodaj/<%= ksiazka.isbn %>" class="btn btn-primary">Rezerwuj</a>
        </div>
      </div>
    <% }); %>
  </div>

</div>


<script src="/js/filtracja.js">
</script>